@import url('https://fonts.googleapis.com/css?family=Roboto');

.dashboard {
	position: fixed;
	padding: 1px;
	top: 0px;
	left: 10px; 
	height: 36px;
	width: 100%;
	text-align: center;
	background-color: #efefef;
}

.dasboard-row {
	padding: 2px;
}

.load-buttons {
	float: left;
}

.dashboard-button {
	display: inline-block;
	margin-bottom: 0; 
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none; 
	background-color: #830300; 
	border: 1px solid transparent;
    font-size: 16px;
	color: #FFF;
	padding: 5px 15px;
	white-space: nowrap;
	height: 30px;
}

.dashboard-button.dashboard-button-load{
	background-color: #002060; 
}

.dashboard-button.dashboard-button-save{
	background-color: #005250; 
}


.dashboard-select {
	display: inline-block;
  margin-bottom: 0; 
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; 
  background-color: #ffffff; 
  border: 1px solid transparent;
      font-size: 16px;
	  color: #444;
	  padding: 5px 15px;
  white-space: nowrap;
	height: 30px;
}

.dashboard-label {
	font: normal 16px Arial, sans-serif;
	display: inline-block;
	margin-bottom: 0; 
	vertical-align: middle;
}

.column {
	width: 50%;
	float: left;
}

.column-form, .column-mail {
	margin-top: 36px;
	padding-top: 4px;
}
 
.item {
	display: block;
	background-color: linen;
	padding: 10px;

	margin-bottom: 5px;
}

.link {
	display: none;
	background-color: white;
	padding: 5px;
	color: lightgray;
	
	font: normal 12px/12px Arial, sans-serif;

	margin-bottom: 5px;
}

.title {
	display: block;
	clear: both;
	background-color: white;
	width: 100%;
	font: normal 14px/14px Arial, sans-serif;
}

.title a{
	color: #000;
	text-decoration: none;
}

.flags {
	display: block;
	padding-bottom: 20px;
	float: left;
	margin-right: 12px;
}

.check {
	width: 25%;
	float: left;
	margin: 0px;
	box-sizing: border-box;
	padding: 5px 15px;
}

.foreign select{
	background-color: #ecf3d2;;
}

.clearfix:before, 
.clearfix:after {
    content: " "; 
    display: table; 
	clear: both;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#area-export {
	text-align: center;
}

#area-export textarea{
	text-align: left;
	width: 720px;
}

