@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


.column-formp { margin: 5px 0 10px 0; }

body.body-week {
	margin: 0;
	padding: 0;
}

.column-form h1 {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 21px;
}

.body-week .column-form p {

    font-family: Georgia,"Times New Roman",Times,serif;
    margin: 1em 0 0 0;
}

.body-week .column-form p.lead{
	font-weight: bold;
}	

.body-week .column-form p.external{
	font-style: italic;
	color: #666;
}

.body-week .column-form p.link{
	font-size: 11px;
	margin-top: 0.5em;
	overflow: hidden;
}

.body-week .column-form p.own{
	margin-bottom: 0.5em;
}		

.possible-break {
	margin-left: 20px;
	margin-top: 20px;
	border-top: 1px dotted #444;
	position: relative;
	height: 10px;
	cursor: pointer;
	background-color: inherit; 
}

.possible-break:before {
	display: block;
	margin-left:-20px;
	margin-top: -10px;
	content: "+";
}

.possible-break.opened:before {
	display: block;
	margin-left:-20px;
	margin-top: -10px;
	content: "-";
}

.possible-break:after {
	display: block; 
	padding: 0 5px;
	left: 20px;
	position: absolute;
	background-color: inherit;
	display: block;
	margin-top: -16px;
	font: 12px arial;
	content: "вставить заголовок раздела";
}

.section-break  {
	display: none;
}

.paragraph-wrap select {
	margin-top: 12px;
	border: 1px solid #ccc;
}

.paragraph-wrap .paragraph-left-col {
	float: left;
	margin-top: 0.5em;
	margin-right: 1em;
}

.possible-break.opened + .section-break {
	display: block;
}

.dashboard {
	position: fixed;
	padding: 3px;
	top: 0px;
	/*bottom: 0px;*/
	left: 0px; 
	min-height: 36px;
	width: 50%;
	text-align: center;
	background-color: #efefef;
}

.dashboard:after {
	display: block;
	clear: both;
	content: "";
}

.dashboard * {
	margin-top: 2px;
	margin-bottom: 2px;
}

.dashboard-button {
	display: inline-block;
  margin-bottom: 0; 
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; 
  background-color: #830300; 
  border: 1px solid transparent;
      font-size: 16px;
	  color: #FFF;
	  padding: 5px 15px;
  white-space: nowrap;
 height: 30px;
	
}

.form-text {
	//display: inline-block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
	border: 1px solid #ccc;
}


.dashboard-select {
	display: inline-block;
  margin-bottom: 2px; 
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; 
  background-color: #ffffff; 
  border: 1px solid transparent;
      font-size: 16px;
	  color: #444;
	  padding: 5px 15px;
  white-space: nowrap;
	height: 30px;
}

.dashboard-label {
	font: normal 16px Arial, sans-serif;
	display: inline-block;
	margin-bottom: 0; 
	vertical-align: middle;
}

.column {
	width: 50%;
	float: left;
}

.column-form {
	background-color: #ecf0f5;
	min-height: 100vh;
	padding-top: 44px;
	padding-left: 15px;
	padding-right: 15px;
}

.column-mail {
	text-align: center;
	//background-color: #d2d6de;
}

.column-mail .table-wrap{
	display: inline-block;
	text-align: center;
	margin: auto;
	//background-color: #d2d6de;
}
 
.item {
	display: block;
	background-color: linen;
	padding: 10px;

	margin-bottom: 5px;
}

.title {
	display: block;
	clear: both;
	background-color: white;
	width: 100%;
	font: normal 14px/14px Arial, sans-serif;
}

.flags {
	display: block;
	padding-bottom: 20px;
	float: left;
	margin-right: 12px;
}

.check {
	width: 25%;
	float: left;
	margin: 0px;
	box-sizing: border-box;
	padding: 5px 15px;
}

.clearfix:before, 
.clearfix:after {
    content: " "; 
    display: table; 
	clear: both;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#area-export {
	text-align: center;
}

#area-export textarea{
	text-align: left;
	width: 720px;
}

.section-bind0 {
	background: #ecf0f5;
	padding-left: 10px;
	padding-bottom: 10px;
}

.section-bind1 {
	background: #e1bfcd;
	padding-left: 10px;
	padding-bottom: 10px;
}

.section-bind2 {
	background: #f3e2b6;
	padding-left: 10px;
	padding-bottom: 10px;
}

.section-bind3 {
	background: #ecf3d2;
	padding-left: 10px;
	padding-bottom: 10px;
}

.section-bind4 {
	background: #dceef0;
	padding-left: 10px;
	padding-bottom: 10px;
}

.section-bind5 {
	background: #d1d7ed;
	padding-left: 10px;
	padding-bottom: 10px;
}

@media print {
	.column  {
		width: 100%;
		float: none;
	}
	
	.dashboard,
	#report-url,
	.paragraph-left-col,
	.column .column-mail {
		display: none;
	}

}

